products = sweets,socks

sweets.name = sweets
sweets.departureStorageSize = 10
sweets.destinationStorageSize = 10
sweets.productionTime = 100
sweets.consumptionTime = 1000
sweets.loadingTime = 200
sweets.unloadingTime = 150
sweets.fabricsCount = 1
sweets.consumersCount = 1

socks.name = socks
socks.departureStorageSize = 20
socks.destinationStorageSize = 10
socks.productionTime = 1000
socks.consumptionTime = 10000
socks.loadingTime = 100
socks.unloadingTime = 100
socks.fabricsCount = 2
socks.consumersCount = 2
