products = sweets,socks
trains = first,second

first.capacity.sweets = 50
first.capacity.socks = 40
first.speed = 100
first.assemblyTime = 500
first.amortizationTime = 10000

second.capacity.sweets = 10
second.capacity.socks = 100
second.speed = 100
second.assemblyTime = 100
second.amortizationTime = 8000
